html
  font-size: 62.5%

  *
    margin: 0
    padding: 0
    box-sizing: border-box

  body
    background-color:  $background-color

    // checking fonts and images
    h1
      font-family: TitilliumWeb, sans-serif
      font-size: 3.6rem
      text-align: center

    .image
      width: 100%
      height: auto
